
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SkinCare</title>
</head>
<body>
    <div>
        <div>
            <img src="~/fonts/sk1.jpg" height="400px" width="1250px" style="margin-top:2rem" />
        </div>
        <div style="margin-top:35px;margin-bottom:35px;">
            <h2 style="color:black;font-family:Bahnschrift;font-size:25px;margin-left:500px"><b>IN THE SPOTLIGHT</b></h2>
        </div>
        <div class="row" style="margin-left:80px;">
            <div class="card" style="float:left;width:25%;">

                <a href="~/Adaa/GetToners"><img src="~/fonts/tone1.png" class="card-img-top" alt="card-grid-image"></a>
            </div>
            <div class="card" style="float:left;width:25%;">
                <img src="~/fonts/cleanse1.png" class="card-img-top" alt="card-grid-image">
            </div>
            <div class="card" style="float:left;width:25%;">
                <img src="~/fonts/moist1.png" class="card-img-top" alt="card-grid-image">

            </div>
            <div class="card" style="float:left;width:25%;">
                <img src="~/fonts/mask1.png" class="card-img-top" alt="card-grid-image">

            </div>
        </div>

    </div>
</body>
</html>
