@{
    ViewBag.Title = "About Us";
}

<div class="about-div">
    <div class="div-left">
        <div class="para">
            <p>Look Better, Feel Better</p>
            <p>With Healthy, Glowing Skin</p>
            <p>START YOUR BEAUTY JOURNEY <b>WITH US</b></p>

        </div>
    </div>
    <div class="div-right">
        <img src="~/fonts/img2.jpeg" class="i1" width="250" height="330" style="position: absolute; top: 50px; left: -130px; box-shadow: -10px 10px 5px -2px rgba(0,0,0,0.57); " />
        <img src="~/fonts/img3.jpeg" class="i2" width="250" height="330" style="position: absolute; top: 130px; right: 80px; box-shadow: 7px 11px 5px -2px rgba(0,0,0,0.57); " />
    </div>
</div>


<div class="exp" style="background-image: linear-gradient(to right top, #cccccc, #beb8c1, #b6a2b0, #b08c9a, #aa777e);; height: 290px; width: 100%; display: flex; justify-content: center; align-items: center">
    <div class="exp-right" style="width:70%;font-size:30px;">

        <img src="~/fonts/processed.jpeg" style="width:250px;height:290px;margin-left:490px" />
    </div>
    <img src="~/fonts/img1.jpeg" class="exp-img" style="height:400px;width:400px" />
</div>

<section class="products-sec">
    <div class="products-div">
        <div class="div1" style="display:flex;justify-content:center;align-items:center;background-color:red;width:100%;height:500px">
            <div class="div1-right" style="background-image: linear-gradient(to right top, #d4c2b6, #bba89b, #a38f81, #8c7768, #755f50);; width: 50%; height: 100% ">

                <img src="~/fonts/3.PNG" style="height:500px;width:400px" />
            </div>
            <div class="div1-left" style="display:flex;justify-content:center;align-items:center;flex-direction:column;background-color:gray;width:50%;height:100%">
                <div class="div1-up" style="width:100%;height:50%;background-color:#fff">
                    <div style="display:flex;justify-content:center;align-items:center">
                        <div class="dr">

                            <img src="~/fonts/1.PNG" style="height:100%;width:100%;margin-top:30px" />
                        </div>
                        <div class="dl">

                        </div>
                    </div>


                </div>
                <div class="div1-down" style="display:flex;justify-content:center;align-items:center;background-color:#333;width:100%;height:50%;width:100%;">
                    <div class="div1-downright" style="background-color:#222;width:50%;height:100%">

                        <div class="div1-downleft" style="background-color:#222;width:50%;height:100%">

                            <img src="~/fonts/2.PNG" style="margin-top:30px;width:285px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
