@{
    ViewBag.Title = "Admin Dashboard";
}
<h2>@ViewBag.Title</h2>

<div class="adm" style="display:flex;justify-content:center;align-items:center;margin-top:-7rem;margin-bottom:4rem">


    <div class="toner-div2" style="margin-right: 60px; box-shadow: 0px 6px 12px 2px rgba(202,116,77,1); width: 350px; height: 200px; border-radius: 8px; ">
        <img src="~/fonts/img4.jpeg" style="width:100%;height:100%" />
        <div class="card-body" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
            <label class="card-title" style="font-size: 17px; margin-top: 10px; margin: 0 10px"></label>
            <label class="card-text" style="font-size:23px"></label>
            <label class="card-text" style="font-size: 18px; font-weight: 500; margin-bottom: 1.5rem; margin: 0 10px">View Inventory</label>
            <a href="~/Register/showall" class="mybtn" style="text-decoration: none; margin: 15px">VIEW</a>
        </div>
    </div>

    <div class="toner-div2" style="box-shadow: 0px 6px 12px 2px rgba(202,116,77,1); width: 350px; height: 200px;border-radius:8px ">

        <img src="~/fonts/img5.jpeg" style="width:100%;height:100%" />
        <div class="card-body" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
            <label class="card-title" style="font-size: 17px; margin-top: 10px;margin-left:10px"></label>
            <label class="card-text" style="font-size: 23px; margin-left: 10px; margin: 0 10px "></label>
            <label class="card-text" style="font-size: 18px; font-weight: 500; margin-bottom: 1.5rem; margin: 0 10px">View Registrations</label>
            <a href="~/Register/showall" class="mybtn" style="text-decoration: none; margin: 15px">VIEW</a>
        </div>
    </div>

</div>